<!DOCTYPE html>
<html>
    <head>
    <title>Boards</title>
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="boards.css">
    </head>
    <body>
        <header>
            <h1>Kanban</h1>
            <button>Add member</button>
        </header>
        <main>
           <section>
                <div class="board">
                    <form action="/boards" method="post">
                        <input type="text" name="title">
                        <button>Create board</button>
                    </form>
                </div>
                <%boards.each do |board|%> 
                    <div class="board">
                        <h3><%=board.title%></h3>
                    </div>
                <%end%>
           </section> 
        </main>
    </body>
</html>