<!DOCTYPE html>
<html>
    <head>
    <title>Members</title>
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/members.css">
    </head>
    <body>
        <header>
            <h1>Kanban</h1>
        </header>
        <main>
           <section>
                <div class="signUp">
                    <form action="/members/new" method="post">
                        <input type="text" name="name">
                        <button>Sign up</button>
                    </form>
                </div>

           </section> 
        </main>
    </body>
</html>